/** @format */

body {
  background-image: url("mic.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

.nav {
  color: aqua;
}

.blue {
  background-color: #8fbaef;
}

div[class^="col"] {
  min-height: 50px;
}

.container {
  margin: 1px auto;
  width: min(80%, 70.5rem);
}

#colonial {
  background-color: #4a86e8ff;
  text-align: center;
}

#fhs {
  color: black;
  font-family: "Courier New", Courier, monospace;
}

#cc {
  color: #ffffff;
  -webkit-text-stroke: 2px #ff9900;
  font-size: 90px;
}

.welcPage {
  background-color: #0066ff41;
  overflow-wrap: break-word;
  outline: none;
  text-align: center;
}

.img-fluid {
  width: 678px;
  height: 571px;
  align-content: left;
}

.home-link {
  color: #ffffff;
  text-decoration: underline;
}

.episodes-link {
  color: #ffffff;
  text-decoration: underline;
}

.about-link {
  color: #ffffff;
  text-decoration: underline;
}

.staff-link {
  color: #ffffff;
  text-decoration: underline;
}

/* 
.colNav {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.navbar {
  font-size: 30px;
}

.soggy {
  width: 180px;
  height: 180px;
}

.newDesc {
  padding-top: 150px;
}

.navList {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-size: 28px;
}

.aboutPage {
  background-color: #e6e9ee60;
  overflow-wrap: break-word;
  outline: none;
  text-align: center;
}

.staff {
  display: flex; /* or display: grid; */
  flex-wrap: wrap; /* Required for flexbox to create rows */

  row-gap: 200px; /* Controls vertical space between rows */
}
