/** @format */

body {
  background-image: url("/mic.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: "Comic Sans MS", "Chalkboard SE", "Comic Neue", sans-serif;
}

.nav {
  color: aqua;
}

.blue {
  background-color: #8fbaef;
}

div[class^="col"] {
  min-height: 50px;
  border: 3.5px solid black;
}
